<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eventSQL">

	<resultMap type="com.event.bean.EventDTO" id="eventResult">
		<result property="seqEvent" column="SEQEVENT" />
		<result property="subject" column="SUBJECT" />
		<result property="content" column="CONTENT" />
		<result property="logtime" column="LOGTIME" />
		<result property="eventImagePath" column="EVENTIMAGEPATH" />
	</resultMap>
	<select id="getEventList" parameterType="Integer"
		resultMap="eventResult">
		select * from event where seqEvent =#{seqEvent}
	</select>


	<select id="getBestMenuList" resultType="menu">
	<![CDATA[select * from menu where rownum <=6]]>
	</select>

</mapper>

  
  
 